.bg::before {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}
.bg::after {
  background-color: #15E6CD;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu';
}
.universalNav {
  display: flex;
  background-color: rgba(36, 123, 160, 0.5);
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: 1s;
}
@media (max-width: 500px) {
  .universalNav {
    flex-direction: column;
    background-color: rgba(36, 123, 160, 0);
    height: 100%;
  }
}
.universalNav a {
  color: white;
  text-decoration: none;
  font-family: Nunito, Arial, sans-serif;
  margin: 0 10px;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .universalNav a {
    margin: 5px;
  }
}
.universalNav a:hover {
  background-color: #2589BD;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
.homebubble {
  transition: 1s;
  display: flex;
  align-items: center;
  width: 430px;
  height: 430px;
  background-color: #f7faff;
  margin: 80px auto;
  border-radius: 50%;
  flex-direction: column;
  box-shadow: 1px 1px 2px #1CCAD8;
  transition: 1s ease;
}
@media (max-width: 800px) {
  .homebubble {
    box-shadow: 10px 10px 10px #1CCAD8;
  }
}
@media (max-width: 500px) {
  .homebubble {
    box-shadow: 20px 20px 20px #1CCAD8;
  }
}
.homebubble h2 {
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: 0.1em;
  margin-top: 80px;
}
.homebubble:hover {
  width: 435px;
  height: 435px;
  margin: 70px auto;
}
#username {
  border-radius: 25px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: solid #2589BD 2px;
}
#password {
  border-radius: 25px;
  padding: 8px 12px;
  border: solid #2589BD 2px;
}
form {
  margin-top: 15px;
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}
.us {
  font-family: Nunito, Arial, sans-serif;
}
.pass {
  font-family: Nunito, Arial, sans-serif;
}
.login {
  color: #0CF574;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #2589BD;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  margin-top: 15px;
  transition: 0.5s;
}
.login:hover {
  background-color: #18d2f7;
  transition: 0.5s;
  cursor: pointer;
}
.createaccount {
  display: block;
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #f7faff;
  padding: 5px 10px;
  border-radius: 25px;
  margin: 0 auto;
  border: solid 2px #2589BD;
  margin-top: -40px;
  transition: 0.5s;
}
.createaccount:hover {
  background-color: #d4edf7;
  transition: 0.5s;
  cursor: pointer;
}
.infodisclaimer {
  background-color: #d4edf7;
  margin-top: 100px;
  height: 120px;
  display: flex;
  transition: 1s;
}
@media (max-width: 800px) {
  .infodisclaimer {
    height: 210px;
    margin-top: 40px;
    transition: 1s;
  }
}
.infodisclaimer p {
  display: block;
  width: 800px;
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
  margin: 12px auto;
  line-height: 30px;
}
@media (max-width: 800px) {
  .infodisclaimer p {
    width: 400px;
  }
}
.lightbox {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.lightbox > .lightbox-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.lightbox-inner > .content {
  display: flex;
  outline: none;
  text-align: left;
  max-width: 90%;
  background-color: #f7faff;
  width: 500px;
  height: 200px;
  border-radius: 25px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.lightbox-inner > .content p {
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
  width: 450px;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .lightbox-inner > .content p {
    font-size: 1.1em;
  }
}
.lightbox-inner > .content #schoolcode {
  border-radius: 25px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: solid #2589BD 2px;
}
.lightbox-inner > .content .enter {
  color: #0CF574;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #2589BD;
  border-radius: 25px;
  border: none;
  text-align: center;
  width: 150px;
  padding: 10px 0;
}
.lightbox-inner > .content .enter:hover {
  background-color: #0CF574;
  color: #2589BD;
  transition: 1s;
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
.bg::before {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}
.bg::after {
  background-color: #15E6CD;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
.backgroundblock {
  display: flex;
  align-items: center;
  width: 430px;
  height: 430px;
  background-color: #f7faff;
  margin: 80px auto;
  border-radius: 50%;
  flex-direction: column;
  box-shadow: 1px 1px 2px #1CCAD8;
}
.avatar {
  width: 150px;
  height: 150px;
  background-color: #247BA0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 30px;
}
.avatar img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  opacity: 0.9;
}
.backgroundblock h2 {
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.backgroundblock h3 {
  color: #0CF574;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #2589BD;
  padding: 5px 10px;
  border-radius: 25px;
}
.backgroundblock h3:hover {
  background-color: #18d2f7;
  transition: 0.5s;
  cursor: pointer;
}
.interestsblock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 100px;
}
.interestsblock img {
  width: 50px;
  border: solid 2px #2589BD;
  border-radius: 50%;
  height: 50px;
  margin: 10px;
}
.interestsblock img:hover {
  border: solid 2px red;
  transition: 1s;
  cursor: pointer;
}
.chat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}
@media (max-width: 500px) {
  .chat {
    margin-top: -30px;
  }
}
.chat:hover {
  opacity: 0.5;
  transition: 1s;
  cursor: pointer;
}
.mainbigbubble {
  display: flex;
  width: 630px;
  height: 630px;
  margin: 80px auto;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #1CCAD8;
  background-color: rgba(36, 123, 160, 0.7);
  flex-direction: column;
  text-decoration: none;
}
.row1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.row1 .kidbubble {
  margin: 55px 10px 0 10px;
  text-decoration: none;
}
.row2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.row2 .kidbubble {
  margin: 0 10px;
}
.row3 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.row3 .kidbubble {
  margin: 0 10px 0 10px;
}
.kidbubble {
  display: flex;
  align-items: center;
  width: 170px;
  height: 170px;
  background-color: #f7faff;
  border-radius: 50%;
  flex-direction: column;
  box-shadow: 1px 1px 2px #1CCAD8;
  justify-content: center;
  border: solid #2589BD 3px;
  text-decoration: none;
}
.kidbubble .avatar {
  width: 90px;
  height: 90px;
  margin: 0;
}
.kidbubble h2 {
  color: #2589BD;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-top: 10px;
  text-decoration: none;
}
.bublheader {
  color: #0CF574;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #2589BD;
  padding: 5px 10px;
  border-radius: 25px;
  text-align: center;
  margin: 100px auto;
  width: 60%;
}
.kidbubble:hover {
  border: solid red 3px;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 800px) {
  .mainbigbubble {
    width: 450px;
    height: 450px;
  }
  .kidbubble {
    width: 120px;
    height: 120px;
  }
  .kidbubble .avatar {
    width: 60px;
    height: 60px;
  }
  .kidbubble h2 {
    font-size: 0.688em;
  }
}
.iconbar {
  width: 1050px;
  margin: 30px auto;
  background-color: #f7faff;
  height: 70px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .iconbar {
    width: 450px;
    height: 250px;
    flex-wrap: wrap;
  }
}
.iconbar img {
  width: 50px;
  border: solid 2px #2589BD;
  border-radius: 50%;
  height: 50px;
  margin: 15px;
}
.iconbar img:hover {
  border: solid 2px red;
  transition: 1s;
  cursor: pointer;
}
.iconbar .active-icon {
  border: solid 2px red;
}
.filteredkids {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  width: 700px;
  flex-wrap: wrap;
  transition: 1s;
}
@media (max-width: 500px) {
  .filteredkids {
    width: 400px;
  }
}
.filteredkids .kidbubble {
  margin: 20px;
  display: none;
  text-decoration: none;
}
.title {
  margin-top: 100px;
  color: #fff;
}
.title h1 {
  color: black;
  font-size: 32px;
  line-height: 10px;
  text-align: center;
  font-family: Nunito, Arial, sans-serif;
}
.contactbox form {
  margin-top: 50px;
}
.contactbox .form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
  font-family: Nunito, Arial, sans-serif;
}
.contactbox input {
  height: 45px;
}
.contactbox .submit {
  background-color: black;
  border-color: transparent;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
.contactbox .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}
.contactbox .form-control1 {
  border: 1px solid red;
}
@media (max-width: 500px) {
  .bg .form-control {
    width: 300px;
    transition: 1s;
  }
}
@media (max-width: 800px) {
  .bg .form-control {
    width: 500px;
    transition: 1s;
  }
}
